<footer
  class="footer">
  <div class="footer__contact">
    <p
      class="contact__text">
      Johan Felipe Jaramillo Cano
    </p>
    <a
      class="contact__text"
      href="tel:3113894010">
      311 389 4010
    </a>
    <i
      class="image">
    </i>
  </div>
  <div class="footer__contact">
    <p
      class="contact__text">
      Dany Farley Quintero Ardila
    </p>
    <a
      class="contact__text"
      href="tel:3002521579">
      300 252 1579
    </a>
    <i
      class="image">
    </i>
  </div>

  <div class="footer__contact footer__contact-inline">
    <a
      class="contact__text contact__text-email"
      href="monelecsst@gmail.com">
      monelecsst@gmail.com
    </a>
    <p
      class="contact__text contact__text-location">
      Carrera 50 #45-87 Palacé, Medellín
    </p>
  </div>

  <div
    class="image footer__image">
  </div>

</footer>
