<div
  class="page">

  <div
    class="card__services"
    [class.activate]="moreInfo.value==='1'">
    <input
      type="radio"
      name="services"
      value="1"
      [formControl]="moreInfo"
      class="services__input">
    <div
      class="services card__services-front">
      <div
        class="image services__image services__image-structure">
        <h2
          class="services__tittle">
          Montajes y Estructura
        </h2>
        <p> >>> Mas información <<< </p>
      </div>
    </div>

    <div
      class="services card__services-back">
        <h2
        class="services__tittle">
        <span>Montajes y Estructuras</span>
      </h2>
      <ul
        class="services__list">
        <li
          class="list__item">
          <span>Tubería MT</span>
        </li>
        <li
          class="list__item">
          <span>IMC</span>
        </li>
        <li
          class="list__item">
          <span>Subestaciones eléctricas</span>
        </li>
        <li
          class="list__item">
          <span>Ductos</span>
        </li>
        <li
          class="list__item">
          <span>Canastillas</span>
        </li>
        <li
          class="list__item">
         <span>Canaleta</span>
        </li>
        <li
          class="list__item">
          <span>Domótica</span>
        </li>
        <li
          class="list__item">
          <span>Trasformadores</span>
        </li>
        <li
          class="list__item">
          <span>Redes exteriores</span>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="card__services"
    [class.activate]="moreInfo.value==='2'">
    <input
    type="radio"
    name="services"
    value="2"
    [formControl]="moreInfo"
    class="services__input">
    <div
      class="services card__services-front">
      <div
        class="image services__image services__image-light">
        <h2
        class="services__tittle">
        Iluminación
      </h2>
        <p> >>> Mas información <<< </p>
      </div>
    </div>
    <div
      class="services card__services-back">
      <h2
        class="services__tittle">
        Iluminación
      </h2>
      <ul
        class="services__list">
        <li
          class="list__item">
          <span>Tubería MT</span>
        </li>
        <li
          class="list__item">
          <span>Instalación, reparación y remodelación de lámparas</span>
        </li>
        <li
          class="list__item">
          <span>Suiches</span>
        </li>
        <li
          class="list__item">
          <span>Toma corriente</span>
        </li>
        <li
          class="list__item">
          <span>Ojos de Buey (Incrustar y/o Sobreponer)</span>
        </li>
        <li
          class="list__item">
          <span>Instalación de cinta LED</span>
        </li>
        <li
          class="list__item">
           <span>POTS y demás accesorios que requiera para mejorar el aspecto e iluminación de su propiedad</span>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="card__services"
    [class.activate]="moreInfo.value==='3'">
    <input
    type="radio"
    name="services"
    value="3"
    [formControl]="moreInfo"
    class="services__input">
    <div
      class="services card__services-front">
      <div
        class="image services__image services__image-retie">
        <h2
          class="services__tittle">
          Certificación RETIE
        </h2>
        <p> >>> Mas información <<< </p>
      </div>
    </div>
    <div
      class="services card__services-back">
      <h2
        class="services__tittle">
        Certificación RETIE
      </h2>
      <p
        class="services__text">
        Garantizamos el diligenciamiento y consentimiento del documento que establece los requisitos de seguridad de los productos y las instalaciones eléctrica, asegurando así la protección de las personas, animales y medio ambiente. Este documento es de vital importancia para la aprobación de proyectos de gran envergadura por parte de EPM.
      </p>
    </div>
  </div>

  <div
    class="card__services"
    [class.activate]="moreInfo.value==='4'">
    <input
      type="radio"
      name="services"
      value="4"
      [formControl]="moreInfo"
      class="services__input">
    <div
      class="services card__services-front">
      <div
        class="image services__image services__image-camera">
        <h2
          class="services__tittle">
          Instalación de cámaras
        </h2>
        <p> >>> Mas información <<< </p>
      </div>
    </div>
    <div
      class="services card__services-back">
      <h2
        class="services__tittle">
        Instalación de cámaras
      </h2>
      <p
        class="services__text">
        Los sistemas de vigilancia son una de las medidas de seguridad más utilizadas en diferentes entornos, como casas, apartamentos, fincas y negocios, tanto grandes como pequeños. Estos sistemas brindan una sensación de tranquilidad al permitirnos visualizar todo lo que ocurre en nuestra propiedad.
      </p>
    </div>
  </div>

</div>
